<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="io.github.bty834.infrastructure.repository.mapper.SampleMapper">

    <select id="selectById" resultType="io.github.bty834.infrastructure.repository.mapper.po.SamplePO">
        select * from sample where id = #{id}
    </select>
</mapper>