<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="io.github.bty834.infrastructure.repository.mapper.SampleMapper">

    <resultMap id="SampleResult" type="io.github.bty834.infrastructure.repository.mapper.po.SamplePO">
        <id column="id" property="id"/>
        <result column="username" property="username"/>
    </resultMap>
    <select id="selectById" resultMap="SampleResult">
        select * from sample where id = #{id}
    </select>
</mapper>